/* ==========================================
   CROWNLAB DESIGN SYSTEM v0.1
========================================== */

:root {

    /* Colores */

    --color-background: #FAF8F4;
    --color-surface: #FFFFFF;

    --color-text: #1E1E1E;
    --color-text-light: #6F6F6F;

    --color-accent: #C7A86D;

    --color-border: #EAE7E1;

    /* Tipografía */

    --font-heading: "Cormorant Garamond", serif;
    --font-body: "Inter", sans-serif;

    /* Espaciado */

    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 4rem;
    --space-xl: 8rem;

    /* Contenedor */

    --container: 1200px;

}

/* ==========================================
   RESET
========================================== */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: var(--color-background);

    color: var(--color-text);

    font-family: var(--font-body);

    line-height: 1.7;

}


/* ==========================================
   ESTRUCTURA GENERAL
========================================== */
.header{
    width: 100%;
    padding: 1.5rem 5%;
}

.nav{
    max-width: var(--container);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{

    text-decoration: none;

    color: var(--color-accent);

    transition: .35s;

    letter-spacing: .45rem;

    font-family: var(--font-body);

    font-size: .9rem;

    font-weight: 500;

}

.logo:hover{

    color: var(--color-text); 
    letter-spacing: .55rem; /*Cuando el mouse esté encima del logo...*/

}

.menu{

    display: flex;

    gap: 2.5rem;

    list-style: none;

}

.menu a{

    text-decoration: none;

    color: var(--color-text-light);

    font-size: .95rem;

    transition: .3s;

}

.menu a:hover{

    color: var(--color-accent);

}

/* ==========================================
   HERO
========================================== */

.hero{
    max-width: 900px;
    margin: 10rem auto;
    text-align: center;
    padding: 0 2rem;
}

.eyebrow{

    font-size: .9rem;

    letter-spacing: .35rem;

    text-transform: uppercase;

    color: var(--color-text-light);

    margin-bottom: 1.5rem;

}

.hero h1{

    font-family: var(--font-heading);

    font-size: clamp(3rem, 7vw, 5.5rem);

    font-weight: 500;

    line-height: 1.05;

    margin-bottom: 2rem;

}

.subtitle{

    font-size: 1.2rem;

    color: var(--color-text-light);

    margin-bottom: 3rem;

}

.button{

    display: inline-block;

    text-decoration: none;

    color: var(--color-text);

    border-bottom: 1px solid var(--color-accent);

    padding-bottom: .35rem;

    transition: .35s;

}

.button:hover{

    color: var(--color-accent);

    letter-spacing: .03rem;

}

/*=========================================
    DIVIDER
==========================================*/

.divider{ /*linea de divición*/
    width: 120px;
    height: 1px;
    background: var(--color-accent);
    margin: 0 auto 8rem;
    opacity: .55;
}

/*=========================================
    COLLECTION
==========================================*/

.collection{
    max-width: 1200px;
    margin: 0 auto 12rem;
    padding: 0 5%;
}

.section-label{
    letter-spacing: .35rem;
    text-transform: uppercase;
    color: var(--color-accent);
    font-size: .8rem;
    margin-bottom: 1rem;
}

.collection h2{
    font-family: var(--font-heading);
    font-size: clamp(2.2rem, 4vw, 3.5rem);
    font-weight: 500;
    max-width: 700px;
    line-height: 1.15;
    margin-bottom: 5rem;
}

.project-card{
    background: transparent;
    border-top: 1px solid var(--color-border);
    padding: 3rem 0;
    transition: .35s;
}

.project-card:hover{
    transform: translateY(-6px);
    border-color: var(--color-accent);
}

.project-type{
    color: var(--color-accent);
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .8rem;
    margin-bottom:1.5rem;
}

.project-card h3{
    font-family: var(--font-heading);
    font-size: 2.2rem;
    margin: 1rem 0;
}

.project-card p{
    color: var(--color-text-light);
    line-height: 1.8;
    margin-bottom: 2rem;
    max-width: 520px;
}

.project-card a{
    color: var(--color-text);
    text-decoration: none;
    transition: .35s;
}

.project-card a:hover{
    color: var(--color-accent);
    letter-spacing: .03rem;
}

/*=========================================
    ABOUT
==========================================*/

.about{

    /*max-width: 760px;
*/
    max-width: 680px;

    margin: 0 auto 10rem;

    padding: 0 5%;

}

.about h2{

    font-family: var(--font-heading);

    font-size: clamp(2.2rem,4vw,3.4rem);

    font-weight:500;

    margin-bottom:2rem;

}

.about p{

    line-height:2;

    color:var(--color-text-light);

    margin-bottom:1.8rem;
    
    /*text-align: justify;
    */

}

.about blockquote{

    margin-top:4rem;

    font-family:var(--font-heading);

    font-size:2rem;

    line-height:1.4;

    color:var(--color-accent);

    font-style:normal;

}

/*=========================================
    ANIMATIONS
==========================================*/

.hero{

    opacity: 0;

    transform: translateY(30px);

    transition: opacity 1s ease, transform 1s ease;

}

.hero.show{

    opacity: 1;

    transform: translateY(0);

}